 /*reset css*/
    body{
        background-color: #D5D5D5;
        font-family: system-ui;
    }
    /* set màu nền độ rộng khung... cho container */
    .container{
        background-color: #E9E7EA;
        width:850px;
        max-width: 100%;
        margin:auto;
        padding:50px;
        box-shadow: 0 10px 50px #858585;
        display: grid;
       grid-template-columns: 30% 65%;
       column-gap: 5%; 
       row-gap: 30px;
    }
    /* css cho hình ảnh*/
    .avatar img{
        width:200px;
        height:200px;
        object-fit: cover;
        border-radius: 50%;
    }
    /* css cho avatar và sử dụng flex để các phần tử nằm cùng hàng  */
    .avatar{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    /* set khoảng cách bên trái */
    .name{
        padding-left: 40px;
        border-left:1px solid #000;
    }
    /* set font chữ, màu,lề, cho phần name h1, specialize, contact, contact li*/
    .name h1{
        font-weight: 300;
        font-size: xxx-large;
        margin:0px 0 5px ;
    }
    .name .specialize{
        margin:0;
        font-weight: bold;
        letter-spacing: 3px;
    }
    .name .contact{
        padding:0;
        list-style: none;
    }
    
    .name .contact li{
        padding:5px 0;
        transform: translate(-40px);
        background-color: #E9E7EA;
    }
    /* set chiều cao giữa các dòng, lề...cho info ul */
    .info ul{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: right;
        line-height: 30px;
    } 
    /* set lề,khoảng cách cho h2 */
    h2{
        padding:0;
        margin: 0 0 20px 0;
    }
    /*set sze đường viền, khoảng cách cho target*/
    .target{
        padding-left: 30px;
        border-left: 1px solid #000;
    }
    /*căn chỉnh văn bản cho phần information*/
    .information{
        text-align: right;
    }
    /*set lề trên cho phần kỹ năng*/
    .skills{
        margin-top:  50px;
    }
    /* set lề,khoảng cách, kiểu cho information ul, information li */
    .information ul{
        padding:0;
        margin: 0;
    list-style: none;
    }
    .information li{
        padding:10px 0;
    }
     /*set sze đường viền, khoảng cách,căn chỉnh văn bản cho experience*/
    .experience{
        padding-left: 30px;
        text-align: justify;
        border-left: 1px solid #000;
    }